configuration {
    modi: "drun,run,c:rofi-calc,k:~/.config/rofi/scripts/k.sh";
    combi-modi: "drun,c,k";
    combi-display-format: "{mode} {text}";
    combi-hide-mode-prefix: true;
    show-icons: true;
    font: "FiraCode Nerd Font 12";
    display-drun: "󰀻 ";
    display-c: "󰪚 ";
    display-k: " ";
    display-combi: " ";
    drun-display-format: "{name}";
    calc-command: "echo -n '{result}' | wl-copy";
}

@theme "theme.rasi"
